<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tarlad.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        tools:targetApi="m">
        <activity android:name=".ui.views.image.ImagePickerActivity"></activity>
        <activity
            android:name=".ui.views.launcher.LauncherActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.views.main.MainActivity" />
        <activity android:name=".ui.views.auth.AuthActivity" />
        <activity
            android:name=".ui.views.chat.create.ChatCreateActivity"
            android:parentActivityName=".ui.views.main.MainActivity"
            android:theme="@style/Animation" />
        <activity
            android:name=".ui.views.chat.ChatActivity"
            android:parentActivityName=".ui.views.main.MainActivity"
            android:theme="@style/Animation" />
        <activity
            android:name=".ui.views.chat.details.ChatDetailsActivity"
            android:parentActivityName=".ui.views.chat.ChatActivity"
            android:theme="@style/Animation" />
        <activity
            android:name=".ui.views.chat.participants.ChatAddParticipantsActivity"
            android:parentActivityName=".ui.views.chat.details.ChatDetailsActivity"
            android:theme="@style/Animation" />

        <service android:name=".services.MessagingService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tarlad.android.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>